header {
    background-color: rgb(194, 132, 70);
}
#parrafoP {
    color: black;
    font-size: 2em;
    text-align:center;
    font-weight: 100;
}
#xd {
    color: rgb(75, 49, 136);
}
#tabla1 {
    text-align: center;
}